/* card css */
#dictionary-section {
    display: flex;
    justify-content: center;
}

#titiel-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#noun-div,
#verb-div {
    display: flex;
    align-items: center;
}

hr {
    width: 83%;
    margin: 0 11px;
}

#noun-div h4,
#verb-div {
    font-size: 18px;
    font-style: oblique;
}

.purple {
    color: #9900ff;
}

.width-25 {
    width: 25rem;
}

#noun-synonyms span,
#verb-synonyms span {
    color: #9900ff;
    margin: 0 3px;
}

#audio-container audio {
    max-width: 138px;
    height: 51px;
}

/* error */
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    margin: 3% auto;
}

/* responsive */
